<!doctype html>
<html>
	<head>
	     <title>HTML</title>
	</head>
	<body>
		<p>This is my paragraph</p>
		<h1>heading1</h1>
		<h2>heading2</h2>
		<h3>heading3</h3>
		<h4>heading4</h4>
		<h5>heading5</h5>
		<h6>heading6</h6>
		<div>this is my div1</div>
		<div>this is my div2</div>
		<span>this is span1</span>
		<br/>
		<hr/>
		<span>this is span2</span>
		<a href="https://www.facebook.com/" target="_blank">Facebook</a>
		<center>
			<a href="https://www.google.co.in" target="_blank">
				<img src="google-logo-round-mousepads-6212-838.png" height="200" width="200">
			</a>
		</center>
		<div>
			<p><b>this is a inside paragraph</b></p>
			<p><i>this is a inside paragraph</i></p>
			<p><u>this is a inside paragraph</u></p>
			<p><q>this is a inside paragraph</q></p>
			<p><small>this is a inside paragraph</small></p>
			<p><del>this is a inside paragraph</del></p>
			<center>this is a inside paragraph</center>
		</div>
		<font color="red" size="10">this is font tag</font>
		<div>div1</div>
		<div>div2</div>
		<span>span1</span>
		<span>span2</span>
		<a href="https://mail.google.com" target="_blank"><img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Communication-gmail-icon.png" width="100" height="100"></a>
	</body>
</html> 