<!doctype html>
<html ng-app="myApp">
	<head>
		<title>Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body ng-controller="MainCtrl">
		<div class="col-sm-12 container">

		</div>
		<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="../js/angular.js"></script>
		<script type="text/javascript">
			var myapp = angular.module('myApp',[]);
			myapp.controller('MainCtrl',function(){
				var name = 'bujjibabu';
			});
		</script>
	</body>
</html>