<!doctype html>
<html>
	<head>
		<title>Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="col-sm-12 container">
			<div replay="hello back!" class="cattr">Hello world</div>
		</div>
		<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				var cattr = $('.cattr').attr('replay');
				console.log(cattr);
			});
		</script>
	</body>
</html>