<!doctype html>
<html>
<head>
	<title>CSS Positions</title>
	<style type="text/css">
		.childdiv2{
			background: url('../images/bgimage1.jpg');
			height: 100%;
			width: 100%;

		}
		.myform{
			background: #fff;
		}
	</style>
</head>
<body>
	<div class="parentDiv">
		<div class="childdiv2">
			<form class="myform">
				<input type="text" placeholder="enter name">
				<br/>
				<input type="text" placeholder="enter password">
				<br/>
				<input type="submit" value="login">
			</form>
		</div>
	</div>
</body>
</html>