<!doctype html>
<html>
<head>
	<title>CSS Positions</title>
	<style type="text/css">
		.parentDiv{
			background: red;
			width:300px;
		}
		.childdiv1{
			background:green;
		}
		.childdiv2{
			background: blue;
			position: relative;
			top:50px;
			left:50px;
		}
		.childdiv3{
			background: yellow;
		}
	</style>
</head>
<body>
	<div class="parentDiv">
		parentDiv
		<div class="childdiv1">childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 childdiv1 </div>
		<div class="childdiv2">childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 childdiv2 </div>
		<div class="childdiv3">childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 childdiv3 </div>
		parentDiv
	</div>
</body>
</html>