<!doctype html>
<html>
<head>
	<title>CSS</title>
	<style type="text/css">
		.myul{
			list-style-type: square;
			display: none;
		}
		.myul2{
			list-style-type: lower-roman;
			visibility: hidden;
		}
	</style>
</head>
<body>
	<div>
		<ul class="myul">
			<li>listItem1</li>
			<li>listItem2</li>
			<li>listItem3</li>
			<li>listItem4</li>
			<li>listItem5</li>
		</ul>
		<ul class="myul2">
			<li>listItem1</li>
			<li>listItem2</li>
			<li>listItem3</li>
			<li>listItem4</li>
			<li>listItem5</li>
		</ul>
		<ul class="myul3">
			<li>listItem1</li>
			<li>listItem2</li>
			<li>listItem3</li>
			<li>listItem4</li>
			<li>listItem5</li>
		</ul>
	</div>
</body>
</html>