<!Doctype html>
<html>
	<head>
		<title>CSS</title>
		<style type="text/css">
			.myparagraph
			{
				color:red;
				font-size:30px;
				background:black;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="../css/mystyle1.css">
	</head>
	<body>
		<!-- inline css starting -->
		<p style="color:red;font-size:30px;background:black">AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications. Its goal is to augment browser-based applications with model–view–controller capability, in an effort to make both development and testing easier.</p>
		<!-- inline css endinging -->

		<!-- internal css staring-->
		<p class="myparagraph">AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications. Its goal is to augment browser-based applications with model–view–controller capability, in an effort to make both development and testing easier.</p>
		<!-- internal css ending-->

		<!-- External css staring-->
		<p id="myparagraph">AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications. Its goal is to augment browser-based applications with model–view–controller capability, in an effort to make both development and testing easier.</p>
		<!-- External css ending-->

	</body>
</html>