<!Doctype html>
<html>
	<head>
		<title>CSS</title>
		<!-- <link rel="stylesheet" type="text/css" href="../css/mystyle1.css"> -->
		<style type="text/css">
			#myparagraph,
			.headcls,
			.mydiv{
				color:#fff;
				background: #000;
			}
			h5{
				font-size: 30px;
			}
		</style>
	</head>
	<body>
		<p id="myparagraph">AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications. Its goal is to augment browser-based applications with model–view–controller capability, in an effort to make both development and testing easier.</p>

		<h5 class="headcls">AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications. Its goal is to augment browser-based applications with model–view–controller capability, in an effort to make both development and testing easier.</h5>

		<div class="mydiv">AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications. Its goal is to augment browser-based applications with model–view–controller capability, in an effort to make both development and testing easier.</div>
	</body>
</html>