<!doctype html>
<html>
	<head>
		<title>HTML</title>
	</head>
	<body>
		<marquee>HTML Training.</marquee>
		<div>This is Bujjibau <sub> B.tech </sub> </div>
		<div>This is 2<sup>nd</sup> Day.</div>
		<font color="red" size="6"><center><h4>Tables</h4></center></font>
		<table border="1" width="100%" cellpadding="10" cellspacing="5">
			<thead>
				<tr>
					<th>head1</th>
					<th>head2</th>
					<th>head3</th>
					<th>head4</th>
					<th>head5</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>td1</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td1</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td1</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td1</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td1</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td1</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
			</tbody>
		</table>
		<font color="green" size="6"><center><h4>Table2</h4></center></font>
		<table border="1" width="100%" cellpadding="10" cellspacing="0">
			<thead>
				<tr>
					<th>head1</th>
					<th>head2</th>
					<th>head3</th>
					<th>head4</th>
					<th>head5</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="3">merge</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td1</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
			</tbody>
		</table>
		<font color="blue" size="6"><center><h4>Table3</h4></center></font>
		<table border="1" width="100%" cellpadding="10" cellspacing="0">
			<thead>
				<tr>
					<th colspan="2">heading</th>
					<th>head3</th>
					<th colspan="2">RightSide Heading</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="3">td</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td rowspan="2">td</td>
				</tr>
				<tr>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
				</tr>
				<tr>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
				<tr>
					<td>td1</td>
					<td>td2</td>
					<td>td3</td>
					<td>td4</td>
					<td>td5</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>