<!doctype html>
<html>
<head>
	<title>Bootstrap</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<style type="text/css">
		
	</style>

</head>
<body>
	<div class="col-sm-12"></div>
	<script type="text/javascript">
		var a = 10; //'='assignment operator
		var b = 10;
		var text = 'bujjibabu';
		//(a==b) comparison operatorcal
		//&& logi
		//alert(a==b);
		//alert(text=='bujji');
		var x = 10;
			x+=1
			alert(x);
		if((a==b)||(text=='bujji')){
			alert('both are true');
			// do code...
		}else{
			alert('both are not equel');
		}
	</script>
</body>
</html>