<!doctype html>
<html>
	<head>
		<title>Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<style type="text/css">
		.myform{
		  background: #c0c0c0;
		  padding: 30px 30px;
		  color: #fff;
		}
		</style>
	</head>
	<body>
		<p class="clearfix"></p>
		<div class="col-sm-12 text-center">
			<h4>Strings</h4>
		</div>
		<script type="text/javascript">
			var x = 'bujjibabu';
			var y = x.toUpperCase();
			//alert(y);
			var a = 'BUJJIBABU';
			var b = a.toLowerCase();
			//alert(b);
			var c = 'bujji';
			var d = 'babu';
			var e = c.concat(' ',d);
			//alert(e);
			var f = c +" "+ d;
			var g = 'Hello';
			var h = g.charAt(0);
			//alert(h);
			var i = "Hello";
			var j = i.charCodeAt(0);
			//alert(j);
			//alert(i.length);
		</script>
	</body>
</html>