<!doctype html>
<html>
<head>
	<title>Bootstrap</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<style type="text/css">
		
	</style>

</head>
<body>
	<div class="col-sm-12"></div>

	<script type="text/javascript">
		
		//var x = 10;
		/*var X = 'ram';
		var y = 12.34;
		var z = 'bujji';
		var a = true;
		var myobj = {name:'bujji',role:'lead'};
		var myarr = [];*/
		// numbers 
		// ex: 12, 23.45 etc...
		// string 
		// ex: 'bujji',"babu" etc...
		// boolean
		// true, false;

		var x = 20;
		var y = 30;
		var z = x+y;
		document.write(z);
		var mydate = new Date();

		console.log(mydate);
		//alert(mydate);

		//comparison
		var x = 10;
		var y = '10';
		 console.log(x==y);
		 if(x===y){
		 	alert('both are equel')
		 }else{
		 	alert('not equel')
		 }
	</script>
</body>
</html>