<!doctype html>
<html>
	<head>
		<title>Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<style type="text/css">
		.myform{
		  background: #c0c0c0;
		  padding: 30px 30px;
		  color: #fff;
		}
		</style>
	</head>
	<body>
		<p class="clearfix"></p>
		<div class="col-sm-12 text-center">
			<h4>Strings</h4>
		</div>
		<script type="text/javascript">
			var num = 128;
			var num1 = num.toString(16);
			var num2 = num.toString(8);
			var num3 = num.toString(2); //10000000
			var num4 = num.toString();
			var str = num + num4;
			var x = 9.3454;
			var r= x.toFixed(3);
			var a = 10;
			var b = "20.9897";
			var number = parseFloat(b)
			var c = a+number;
			var d = Math.round(3.57); // 4
			var e = Math.round(3.44);// 3
			var f = Math.ceil(3.23)//4

			var g = Math.floor(3.78)//3

			var ram = (Math.random()*100).toFixed(0);
			alert(ram);

		</script>
	</body>
</html>