<!DOCTYPE html>
<html>
	<HEAD>
		<title>HTML</title>
	</HEAD>
	<body>
		<center><font color="green">HTML Input Types.</font></center>
		<div>
			Unorderlist:
			<ul style="color:green">
				<li>list item1</li>
				<li>list item2</li>
				<li>list item3</li>
				<li>list item4</li>
				<li>list item5</li>
			</ul>
		 Orderlist
			<ol style="color:red">
			 	<li>listitem1</li>
			 	<li>listitem2</li>
			 	<li>listitem3</li>
			 	<li>listitem4</li>
			 	<li>listitem5</li>
			</ol>
			<div>
				progressBar:
				<progress value="90" max="100"></progress>
			</div>
			<div>
				Data List:
				<form>
					<input list="listitems" name="list">
					<datalist id="listitems">
						<option value="apple">
						<option value="bujji">
						<option value="babu">
						<option value="arrow">
						<option value="angle">
						<option value="data">
						<option value="car">
					</datalist>
					<br/><br/>
					select:
					<select>
						<option>option1</option>
						<option>option2</option>
						<option>option3</option>
						<option>option4</option>
					</select>
				</form>
			</div>
		</div>
	</body>
</html>